.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.tabClass:is(:hover, :active){
  animation : borderOnHover 10s 1 linear ;
  transition: border-bottom 1s ease-in-out 2s;
  transform-origin: left;
}

@keyframes borderOnHover {
  0% {
    border-bottom: 0px solid white;
  }
  100% {
    border-bottom: 4px solid white;
  }
}

.selected{
  color: red;
}
.notSelected{
  color: gray;
}

.dots-7 {
  width: 70px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,rgb(234, 140, 34) 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: d7 1s infinite linear;
}
@keyframes d7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}


